@charset "UTF-8";
/* =====================================================
  1.0 - Foundation
===================================================== */
/*
  Reset
-----------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Base
-----------------------------------------------------*/
*,
:before,
:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  background-color: #fff;
  color: #2F2C2A;
  text-rendering: optimizeLegibility;
  letter-spacing: .05em;
  line-height: 1.5em;
  font-size: 1.4rem;
  font-family: “YakuHanJPs”, “游ゴシック”, “YuGothic”, “Hiragino Kaku Gothic ProN”, “Hiragino Kaku Gothic Pro”, “ＭＳ ゴシック”, sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

body.is-active-drawer {
  overflow: hidden;
}

*[lang='en'] {
  font-family: 'Futura PT', 'Century Gothic', sans-serif;
}

.lang-en-secondary {
  font-family: 'Bodoni 72',Times,'Times New Roman',sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: #102942;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

li {
  list-style: none;
}

/* =====================================================
  2.0 - Layout
===================================================== */
.l-section {
  padding-top: 6rem;
}

@media screen and (min-width: 768px) {
  .l-section {
    padding-top: 12rem;
  }
}

.l-section.-slim {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .l-section.-slim {
    padding-top: 4rem;
  }
}

.l-section:after {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 1px;
  background-color: #edeef0;
  content: '';
}

.l-section__title {
  padding-bottom: 3.2rem;
  color: #102942;
  text-align: center;
  font-size: 3.2rem;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .l-section__title {
    padding-bottom: 4rem;
  }
}

.l-section__title.-top {
  padding-top: 6rem;
}

@media screen and (min-width: 768px) {
  .l-section__title.-top {
    padding-top: 12rem;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .l-section__title.-secondary {
    padding-bottom: 8rem;
  }
}

.l-section__subtitle {
  padding: 1.6rem 0 1.2rem 0;
  color: #102942;
  text-align: center;
  font-size: 2rem;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .l-section__subtitle {
    padding: 4rem 0;
  }
}

@media screen and (min-width: 768px) {
  .l-section__subtitle.-secondary {
    padding: 0;
  }
}

.l-container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.l-container.-wide {
  padding-bottom: 6rem;
}

@media screen and (min-width: 768px) {
  .l-container.-wide {
    padding-bottom: 12rem;
  }
}

@media screen and (min-width: 768px) {
  .l-container__worklist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .l-container__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-container__inner:after {
    content: "";
    display: block;
    width: 67%;
    height: 0;
  }
}

@media screen and (min-width: 768px) {
  .l-header {
    position: relative;
    display: block;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 15rem;
  }
}

.l-header__nav {
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .l-header__nav {
    position: absolute;
    right: 50%;
    left: 50%;
  }
}

.l-header__title {
  display: inline-block;
  background-color: #102942;
}

.l-header__text {
  display: inline-block;
  margin: 0 auto;
  padding: 1.4rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .l-header__text {
    padding: 3.2rem;
    font-size: 2.4rem;
  }
}

.l-header__subtext {
  display: block;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .l-header__subtext {
    font-size: 2rem;
    line-height: 1.75em;
  }
}

.l-header a {
  color: #f3ede6;
}

.l-global-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-top: 5.6rem;
  width: 100%;
  height: 120%;
  background-color: #102942;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  /* IE9非対応 */
  -webkit-transform: translateY(-130%);
  /* Android, Brackberry  */
  -ms-transform: translateY(-130%);
  /* IE9 */
  transform: translateY(-130%);
}

@media screen and (min-width: 768px) {
  .l-global-nav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    width: auto;
    height: auto;
    background-color: transparent;
    -webkit-transform: translateY(0);
    /* Android, Brackberry  */
    -ms-transform: translateY(0);
    /* IE9 */
    transform: translate(-50%, -50%);
    transform: translateY(0);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .l-global-nav a {
    color: #102942;
  }
}

.l-global-nav__item {
  padding: 2.3rem 1.6rem;
  text-align: center;
  font-size: 3.2rem;
}

@media screen and (min-width: 768px) {
  .l-global-nav__item {
    position: relative;
    padding: 1.6rem;
    font-size: 1.4rem;
  }
  .l-global-nav__item:hover:after {
    background-color: #102942;
    -webkit-transform: skewX(145deg) scaleY(1.5);
        -ms-transform: skewX(145deg) scaleY(1.5);
            transform: skewX(145deg) scaleY(1.5);
  }
  .l-global-nav__item:after {
    position: absolute;
    top: calc(33em/16);
    right: calc(-1em/16);
    display: block;
    width: 1px;
    height: calc(20em/16);
    background-color: rgba(0, 0, 0, 0.21);
    content: '';
    -webkit-transition: background-color .3s,-webkit-transform .3s;
    transition: background-color .3s,-webkit-transform .3s;
    transition: transform .3s,background-color .3s;
    transition: transform .3s,background-color .3s,-webkit-transform .3s;
    -webkit-transform: skewX(145deg);
        -ms-transform: skewX(145deg);
            transform: skewX(145deg);
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
  }
}

@media screen and (min-width: 768px) {
  .l-global-nav__item.-twitterSP {
    display: none;
  }
}

.l-global-nav__item.-twitterPC {
  display: none;
}

@media screen and (min-width: 768px) {
  .l-global-nav__item.-twitterPC {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .l-global-nav__item.-twitterPC img {
    max-width: none;
  }
}

@media screen and (min-width: 768px) {
  .l-global-nav__item.-instgram {
    display: none;
  }
}

.l-global-nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .l-global-nav__icon {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.is-active-drawer .l-global-nav {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.menu-item {
  padding: 2.3rem 1.6rem;
  text-align: center;
  font-size: 3.2rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    position: relative;
    padding: 1.6rem;
    font-size: 1.4rem;
  }
  .menu-item:hover:after {
    background-color: #102942;
    -webkit-transform: skewX(145deg) scaleY(1.5);
        -ms-transform: skewX(145deg) scaleY(1.5);
            transform: skewX(145deg) scaleY(1.5);
  }
  .menu-item:after {
    position: absolute;
    top: calc(33em/16);
    right: calc(-1em/16);
    display: block;
    width: 1px;
    height: calc(20em/16);
    background-color: rgba(0, 0, 0, 0.21);
    content: '';
    -webkit-transition: background-color .3s,-webkit-transform .3s;
    transition: background-color .3s,-webkit-transform .3s;
    transition: transform .3s,background-color .3s;
    transition: transform .3s,background-color .3s,-webkit-transform .3s;
    -webkit-transform: skewX(145deg);
        -ms-transform: skewX(145deg);
            transform: skewX(145deg);
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
  }
}

@media screen and (min-width: 768px) {
  .menu-item-50 {
    display: none;
  }
}

.l-global-sidenav {
  display: none;
}

@media screen and (min-width: 768px) {
  .l-global-sidenav {
    z-index: 1;
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    background-color: #102942;
    padding: 3rem 1.25rem;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
  }
  .l-global-sidenav li {
    font-size: 1.4rem;
    text-align: right;
    position: static;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .l-global-sidenav li:last-of-type {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .l-global-sidenav a {
    color: #f3ede6;
    padding: .5rem 0;
    display: block;
    border-bottom: 1px dotted rgba(247, 237, 230, 0);
  }
  .l-global-sidenav a:hover {
    border-bottom: 1px dotted rgba(247, 237, 230, 0.5);
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .l-global-sidenav img {
    width: 18px;
    height: auto;
  }
}

.l-global-sidenav.-show {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .l-hero {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.l-footer {
  background-color: #102942;
}

.l-footer__copyright {
  padding: .8rem 0;
  color: #f3ede6;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Bodoni 72',Times,'Times New Roman',sans-serif;
}

@media screen and (min-width: 768px) {
  .l-footer__copyright {
    padding: 2.4rem 0;
  }
}

/* =====================================================
  3.0 - Object
===================================================== */
/*
  3.1 - Component
-----------------------------------------------------*/
.c-button-hamburger {
  position: fixed;
  top: 8.5px;
  right: 1.4rem;
  z-index: 2;
  margin: auto 0;
  padding: .5rem;
  width: 30px;
  height: 30px;
  outline: 0;
  border: 0;
  border-radius: 20px;
  background-color: rgba(250, 250, 250, 0.9);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .c-button-hamburger {
    display: none;
  }
}

.c-button-hamburger:hover, .c-button-hamburger:focus {
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.c-button-hamburger:before, .c-button-hamburger:after {
  position: absolute;
  display: block;
  width: 18px;
  height: 2px;
  content: '';
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.c-button-hamburger:after {
  position: absolute;
  top: 30px;
  right: 50%;
  display: block;
  content: 'MENU';
  text-align: center;
  letter-spacing: .15em;
  font-size: 1rem;
  font-family: 'Futura PT', 'Century Gothic', sans-serif;
}

.c-button-hamburger.-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: inherit;
}

@media screen and (min-width: 768px) {
  .c-button-hamburger.-icon {
    display: block;
  }
}

.is-active-drawer .c-button-hamburger {
  background-color: transparent;
}

.is-active-drawer .c-button-hamburger:after {
  color: #f3ede6;
  content: 'CLOSE';
}

.c-hamburger {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  display: block;
  margin: auto;
  width: 1px;
  height: 18px;
  background-color: #333;
  -webkit-transform: rotate(36deg) translate3d(0, 0, 0);
          transform: rotate(36deg) translate3d(0, 0, 0);
}

.c-hamburger:before, .c-hamburger:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: '';
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.c-hamburger::before {
  left: -8px;
  top: 6px;
}

.c-hamburger::after {
  right: -8px;
  top: -6px;
}

.is-active-drawer .c-hamburger {
  background-color: transparent;
}

.is-active-drawer .c-hamburger:before,
.is-active-drawer .c-hamburger:after {
  background-color: #F3EDE6;
}

.is-active-drawer .c-hamburger:before {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
          transform: rotate(-70deg);
  left: 0;
  top: 0;
}

.is-active-drawer .c-hamburger:after {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  right: 0;
  top: 0px;
}

.c-button {
  position: relative;
  display: block;
  padding: 1.6rem 0;
  text-align: center;
}

.c-button.-primary {
  background-color: #333;
  color: #fff;
}

.c-button:before, .c-button:after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  margin: auto 0;
  width: .5em;
  height: .5em;
  content: '';
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  /* IE9非対応 */
  -webkit-transform: rotate(-45deg);
  /* Android, Brackberry  */
  -ms-transform: rotate(-45deg);
  /* IE9  */
  transform: rotate(-45deg);
}

.c-button:before {
  right: 2em;
  background-color: #fff;
}

.c-button:after {
  right: 2.2em;
  background-color: #333;
}

.c-button .-primary:hover:before {
  right: 1.5em;
}

.c-button .-primary:hover:after {
  right: 1.7em;
}

.button-primary {
  position: relative;
  margin: 6rem auto;
  max-width: 29.6rem;
  border-radius: 40px;
  color: #010304;
  text-align: center;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color .3s ease, -webkit-box-shadow .3s ease;
  transition: color .3s ease, -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease, color .3s ease;
  transition: box-shadow .3s ease, color .3s ease, -webkit-box-shadow .3s ease;
}

@media screen and (min-width: 768px) {
  .button-primary {
    margin: 8rem auto 12rem;
  }
}

.button-primary:hover a {
  color: #bababa;
}

.button-primary:before, .button-primary:after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto 0;
  width: 1rem;
  height: 1rem;
  content: '';
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.button-primary:before {
  right: 3.7rem;
  background-color: #102942;
}

.button-primary:after {
  right: 4rem;
  background-color: #fafafa;
}

.button-primary:hover {
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.button-primary:hover:after {
  background-color: #fafafa;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.button-primary:hover:before {
  background-color: #bababa;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.button-primary.-back:before, .button-primary.-back:after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto 0;
  width: 1rem;
  height: 1rem;
  content: '';
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.button-primary.-back:before {
  left: 3.7rem;
  background-color: #102942;
}

.button-primary.-back:after {
  left: 4rem;
  background-color: #f4f4f4;
}

.button-primary.-back:hover {
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.button-primary.-back:hover:after {
  background-color: #f4f4f4;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.button-primary.-back:hover:before {
  background-color: #bababa;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.buttonA {
  -webkit-box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
          box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
}

.buttonA:hover {
  -webkit-box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
          box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
}

.buttonB {
  position: relative;
  -webkit-box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
          box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
}

.buttonB:hover {
  -webkit-box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
          box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
}

.buttonB:before, .buttonB:after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  margin: auto 0;
  width: .5em;
  height: .5em;
  content: '';
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  /* IE9非対応 */
  -webkit-transform: rotate(-45deg);
  /* Android, Brackberry  */
  -ms-transform: rotate(-45deg);
  /* IE9  */
  transform: rotate(-45deg);
}

.buttonB a {
  display: block;
  padding: 2rem 0;
  width: 100%;
}

.buttonC {
  position: relative;
  display: block;
  padding: 2rem 0;
  width: 100%;
  color: #102942;
  letter-spacing: .05em;
  font-weight: normal;
  font-size: 1.4rem;
  -webkit-box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
          box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
}

.buttonC:hover {
  -webkit-box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
          box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
}

@media screen and (min-width: 768px) {
  .buttonC {
    font-size: 1.6rem;
  }
}

.buttonC:before, .buttonC:after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  margin: auto 0;
  width: .5em;
  height: .5em;
  content: '';
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  /* IE9非対応 */
  -webkit-transform: rotate(-45deg);
  /* Android, Brackberry  */
  -ms-transform: rotate(-45deg);
  /* IE9  */
  transform: rotate(-45deg);
}

.buttonC:hover {
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  color: #bababa;
}

.buttonC:hover:after {
  background-color: #f4f4f4;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.buttonC:hover:before {
  background-color: #bababa;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.buttonA_far {
  -webkit-box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
          box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
}

.buttonA_far:hover {
  -webkit-box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
          box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
}

.buttonB_far {
  -webkit-box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
          box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
}

.buttonB_far:hover {
  -webkit-box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
          box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
}

.buttonC_far {
  -webkit-box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
          box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.7), 4px 4px 6px #dbdbdb, inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 12px #fafafa;
}

.buttonC_far:hover {
  -webkit-box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
          box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 6px #fafafa, inset -4px -4px 12px rgba(255, 255, 255, 0.6), inset -2px -2px 2px rgba(255, 255, 255, 0.2), inset 4px 4px 6px #e1e1e1;
}

.button-container {
  padding: 0 1.6rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .c-card__item {
    width: 33.33%;
  }
}

.c-card__body {
  padding: 3.2rem 0 0 0;
}

@media screen and (min-width: 768px) {
  .c-card__body {
    padding-top: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  .c-card__body.-secondary {
    padding: 0 0 0 2.4rem;
    width: 40%;
  }
}

.c-card__body.-slim {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .c-card__body.-slim {
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    max-width: 79.6rem;
  }
}

@media screen and (min-width: 768px) {
  .c-card__side {
    width: 60%;
  }
}

.c-card__thumbnail {
  position: relative;
  overflow: hidden;
}

.c-card__thumbnail img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .c-card__thumbnail.-secondary {
    overflow: hidden;
    width: 100%;
  }
}

.c-card__thumbnail:before {
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000;
  content: '';
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.c-card__thumbnail:after {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  content: 'Read More';
  font-size: 1.4rem;
  font-family: 'Futura PT', 'Century Gothic', sans-serif;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.c-card:hover
.c-card__thumbnail:before {
  left: 50%;
  opacity: .3;
}

.c-card:hover
.c-card__thumbnail:after {
  opacity: 1;
}

.c-card__item:hover
.c-card__thumbnail:before {
  left: 50%;
  opacity: .3;
}

.c-card__item:hover
.c-card__thumbnail:after {
  opacity: 1;
}

/*
  3.2 - Project
-----------------------------------------------------*/
.p-hero {
  position: relative;
  width: 100%;
  height: 30.8rem;
  background-image: url(../images/Top/MV@2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  .p-hero {
    background-image: url(../images/Top/MV_PC02@2x.jpg);
    max-width: 1280px;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .p-hero {
    background-image: url(../images/Top/MV_PC02@2x.jpg);
    height: 50rem;
    max-width: 1280px;
    width: 87.5%;
    margin-right: auto;
  }
}

.p-hero__message {
  position: absolute;
  bottom: 1.2rem;
}

@media screen and (min-width: 480px) {
  .p-hero__message {
    left: 3%;
    bottom: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .p-hero__message {
    left: 3%;
    bottom: 2rem;
  }
}

.p-hero__text-bg {
  display: block;
}

.p-hero__text {
  display: inline-block;
  margin-top: 1.2rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

@media screen and (min-width: 480px) {
  .p-hero__text {
    padding: 1rem 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-hero__text {
    font-size: 1.6rem;
    margin-top: 2rem;
    padding: 1.25rem 1.75rem;
  }
}

.p-pickup {
  background-color: #f4f4f4;
}

.p-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 4rem;
}

@media screen and (min-width: 768px) {
  .p-works.-primary {
    width: 32%;
  }
}

.p-works.-secondary {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .p-works.-secondary {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    padding-bottom: 6rem;
    -ms-flex-flow: row-reverse;
        flex-flow: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-works.-tertiary {
  display: inherit;
}

.p-works.-top {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .p-works.-wide {
    margin: 0 auto;
    max-width: 960px;
  }
}

.p-works__tags {
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .p-works__tags {
    font-size: 2.4rem;
  }
}

.p-works__tags.-primary {
  font-size: 1.4rem;
}

.p-works__sitetype {
  padding-top: .4rem;
  color: #2F2C2A;
}

@media screen and (min-width: 768px) {
  .p-works__sitetype {
    padding-top: .8rem;
  }
}

@media screen and (min-width: 768px) {
  .p-works__sitetype.-primary {
    padding-top: 0;
    font-size: 1.4rem;
  }
}

.p-works__sitetype.-center {
  padding-top: 1.6rem;
  text-align: center;
}

.p-works__part {
  color: #2F2C2A;
}

@media screen and (min-width: 768px) {
  .p-works__part.-primary {
    font-size: 1.4rem;
  }
}

.p-works__summary {
  padding-top: 2.4rem;
}

@media screen and (min-width: 768px) {
  .p-works__summary {
    padding-top: 0;
  }
}

.p-works__title {
  padding-top: .8rem;
  color: #2F2C2A;
}

@media screen and (min-width: 768px) {
  .p-works__title {
    padding-top: 3rem;
  }
}

.p-works__title.-top {
  padding-top: 2.4rem;
}

.p-works__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-works__text + .p-works__text::before {
  content: '/';
}

.p-works__button {
  padding: 1.6rem 0;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .p-works__button {
    font-size: 1.4rem;
  }
}

.p-works__link {
  margin-top: 2.4rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-works__link {
    margin: 0 auto;
    margin-top: 8rem;
    max-width: 79.6rem;
    border-radius: 50px;
  }
}

.p-works__link a {
  display: block;
  padding: .6rem 0;
  border-radius: 30px;
  background-color: #102942;
  color: #f4f4f4;
}

@media screen and (min-width: 768px) {
  .p-works__link a {
    padding: 1rem 0;
  }
}

.p-works__caption {
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .p-works__caption {
    margin: 0 auto;
    padding-top: 8rem;
    max-width: 960px;
  }
}

.p-works__caption img {
  width: 100%;
}

.p-works__caption.-top {
  margin-top: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .p-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 62%;
    margin: 0 auto;
  }
}

.p-about__image {
  margin: 0 auto;
  padding-bottom: 3.2rem;
  width: 66%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-about__image {
    padding-right: 8.4%;
    padding-bottom: 0;
    width: 50%;
    text-align: right;
    margin: auto 0;
  }
}

@media screen and (min-width: 768px) {
  .p-about__content {
    width: 50%;
  }
}

.p-contentbox.-skils {
  padding-top: 2.4rem;
}

@media screen and (min-width: 768px) {
  .p-contentbox.-skils {
    padding-top: 3.2rem;
  }
}

.p-contentbox__title {
  font-size: 2rem;
  padding-bottom: 1.6rem;
}

@media screen and (min-width: 768px) {
  .p-contentbox__title {
    padding-bottom: 3rem;
  }
}

.p-skilset {
  padding-top: 1.6rem;
}

.p-skilset__adobe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 83%;
  max-width: 24.6rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .p-skilset__adobe {
    max-width: 28.6rem;
  }
}

.p-skilset__icon + .p-skilset__icon {
  padding-left: .4rem;
}

.p-skilset__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.8rem;
}

@media screen and (min-width: 768px) {
  .p-skilset__other {
    padding-top: 1.6rem;
    width: 100%;
  }
}

.p-skilset__list:after {
  content: '/';
}

@media screen and (min-width: 768px) {
  .p-form {
    width: 62.2%;
    margin: 0 auto;
  }
}

.p-form__text {
  text-align: center;
}

.wpcf7-text,
.wpcf7-textarea {
  padding-left: 1.6rem;
  min-height: 5.5rem;
  width: 100%;
  border: none;
  background: #f4f4f4;
}

.wpcf7-text.-text,
.wpcf7-textarea.-text {
  min-height: 21.6rem;
}

.wpcf7-text:focus,
.wpcf7-textarea:focus {
  outline: none;
}

.p-form__title {
  padding-top: 2rem;
  padding-bottom: .8rem;
  text-align-last: left;
  display: inline-block;
}

.p-form__title.-name {
  padding-top: 4rem;
}

input {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

.p-vision__text {
  text-align: center;
  padding-bottom: 4rem;
}

.p-vision__inner {
  display: block;
  padding-top: 3.2rem;
}

.p-vision__lead {
  position: relative;
  padding: 2.4rem;
  background-color: #f4f4f4;
}

@media screen and (min-width: 768px) {
  .p-vision__lead {
    max-width: 63.2rem;
    margin: 0 auto;
    padding: 2.4rem 6rem;
  }
}

.p-vision__lead:before {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 45px;
  background-image: url(../../assets/images/About/Why@2x.png);
  background-repeat: no-repeat;
  content: '';
  background-size: contain;
}

.p-career {
  position: relative;
}

.p-area {
  position: relative;
  margin-top: 4rem;
  padding: 4rem 2rem 4rem 0;
  background-color: #f4f4f4;
}

@media screen and (min-width: 768px) {
  .p-area {
    margin: 12rem auto 0;
    padding: 4rem 16.4rem 4rem 0;
    max-width: 96rem;
  }
}

.p-area::before {
  position: absolute;
  top: 20px;
  left: 21px;
  display: block;
  width: 3px;
  height: 100%;
  background-color: #102942;
  content: '';
}

@media screen and (min-width: 768px) {
  .p-area::before {
    top: 50px;
    left: 68px;
    width: 5px;
  }
}

.p-area.-top {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .p-area.-top {
    margin-top: 4rem;
  }
}

.p-area.-bottom::after {
  position: absolute;
  bottom: -23px;
  left: 13px;
  border-width: 15px 10px 0 10px;
  border-style: solid;
  border-color: #102942 transparent transparent transparent;
  content: '';
}

@media screen and (min-width: 768px) {
  .p-area.-bottom::after {
    bottom: -60px;
    left: 47px;
    border-width: 33px 24px 0 24px;
  }
}

.p-area.-secondary {
  background-color: transparent;
}

.p-area__text {
  margin-left: auto;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .p-area__text {
    width: 70%;
  }
}

.p-area__inner {
  padding-top: 3.2rem;
}

.p-area__head {
  position: absolute;
  top: -22px;
  z-index: 1;
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 40px;
  background-color: #102942;
}

@media screen and (min-width: 768px) {
  .p-area__head {
    top: -72px;
    width: 140px;
    height: 140px;
    border-radius: 100px;
  }
}

.p-area__head.-bottom:before {
  position: absolute;
  top: -20px;
  width: 100%;
  height: 20px;
  background-image: url(../images/About/Now@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  background-color: #fff;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .p-area__head.-bottom:before {
    height: 32px;
    top: -40px;
  }
}

.p-area__year {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  color: #f3ede6;
  font-size: 1.2rem;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

@media screen and (min-width: 768px) {
  .p-area__year {
    font-size: 2.4rem;
  }
}

.is-active-drawer .p-area__year {
  color: transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media screen and (min-width: 768px) {
  .p-unit {
    max-width: 960px;
  }
}

.p-unit__bgimage {
  position: relative;
  margin-top: 7.2rem;
  padding-bottom: 4rem;
}

.p-unit__bgimage:before {
  position: absolute;
  top: -55px;
  display: inline-block;
  width: 100%;
  height: 80px;
  background-image: url(../../assets/images/About/interior.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

.p-unit__bgimage.-secondary:before {
  background-image: url(../../assets/images/About/travel.png);
}

.p-unit__bgimage.-tertiary:before {
  background-image: url(../../assets/images/About/game.png);
}

@media screen and (min-width: 768px) {
  .p-unit__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .p-unit__inner {
    width: 30%;
  }
}

/*
  3.2 - Utility
-----------------------------------------------------*/
/*
  Screen Reader Text
*/
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.sp-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .sp-none {
    display: block;
  }
}

.pc-none {
  display: block;
}

@media screen and (min-width: 768px) {
  .pc-none {
    display: none;
  }
}

.c-linear {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #F7DDB9));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #F7DDB9 50%);
  background-position: 0 0;
  background-size: 200% auto;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.c-linear.-secondary {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #FFF));
  background-image: linear-gradient(to right, transparent 50%, #FFF 50%);
  background-position: 0 0;
  background-size: 200% auto;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.c-linear.is-slide {
  background-position: -100% 0;
}

.u-text-center {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*
    rgba ・・・ Red Green Blue Alpha
    CSS3で追加された色の設定方法（IE9 〜 ）
    RGBを10進数で指定し、最後に透明度を 0 〜 1 の範囲で指定する（半角カンマ区切り）
  */
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
}

.is-active {
  overflow: hidden;
}

.inv-recaptcha-holder {
  opacity: 0;
}

.inv-recaptcha-holder.-show {
  display: block;
}

form.sent p {
  display: none;
}
